<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key></key>
	<string></string>
	<key>API_BASE_URL</key>
	<string>https://api.shashlichny-dom.ru</string>
	<key>BASE_URL</key>
	<string>https://shashlichny-dom.ru</string>
	<key>CFBundleURLTypes</key>
	<array>
		<dict>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
		</dict>
		<dict/>
	</array>
	<key>CHAT_ID</key>
	<string>-1002176676370</string>
	<key>NSAppTransportSecurity</key>
	<dict>
		<key>NSAllowsArbitraryLoads</key>
		<true/>
	</dict>
	<key>TELEGRAM_BOT_TOKEN</key>
	<string>7275423419:AAGDxY6uqtmMxO3xFzKbMKRhxyfr9W9RjHY</string>
</dict>
</plist>
